[project]
name = "ab-inf-2025-2026"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "argparse>=1.4.0",
    "pathlib>=1.0.1",
]
